@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1713710875204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e624";
}

.icon-gouwugouwuchedinggou:before {
  content: "\e682";
}

.icon-sheji:before {
  content: "\e664";
}

.icon-vynil:before {
  content: "\e61f";
}

.icon-tubiaozhizuomoban_fanchuan:before {
  content: "\e601";
}

.icon-sheyingji:before {
  content: "\e603";
}

.icon-qinggan:before {
  content: "\e515";
}

.icon-meishi:before {
  content: "\e7a2";
}

.icon-dianying:before {
  content: "\e625";
}

.icon-mingxiang:before {
  content: "\e618";
}

